In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('weather_data.csv', parse_dates=['day'])
data.columns = ['DAY', 'TEMPERATURE', 'WIND SPEED', 'EVENT']
data.set_index('DAY', inplace=True)

In [3]:
date = pd.date_range('01-01-2017', '01-11-2017')
date2 = pd.DatetimeIndex(date)
data = data.reindex(date2)

In [4]:
data = data.interpolate(inplace=False)

In [5]:
data = data.fillna(method='bfill')
data

            TEMPERATURE  WIND SPEED   EVENT
2017-01-01    32.000000        6.00    Rain
2017-01-02    31.000000        7.00   Sunny
2017-01-03    30.000000        8.00   Sunny
2017-01-04    29.000000        9.00   Sunny
2017-01-05    28.000000        8.00    Snow
2017-01-06    30.000000        7.00    Rain
2017-01-07    32.000000        7.25    Rain
2017-01-08    32.666667        7.50   Sunny
2017-01-09    33.333333        7.75  Cloudy
2017-01-10    34.000000        8.00  Cloudy
2017-01-11    40.000000       12.00   Sunny

In [6]:
max_temperature = data['TEMPERATURE'].max()
min_temperature = data['TEMPERATURE'].min()
mean_temperature = data['TEMPERATURE'].mean()
print('Minimum Temperature in January is    :   '+ str(min_temperature))
print('Maximium Temperature in january is   :   '+ str(max_temperature))
print('Average Temperature in january is    :   '+ str(mean_temperature))

Minimum Temperature in January is    :   28.0
Maximium Temperature in january is   :   40.0
Average Temperature in january is    :   32.0

In [7]:
Temperature_result = pd.DataFrame({
    'Minimum Temperature in January is'    :   [28.0],
    'Maximium Temperature in january is'   :   [40.0],
    'Average Temperature in january is'    :   [32.0]
})

In [8]:
with pd.ExcelWriter('Temperature_data.xlsx') as writer:
    Temperature_result.to_excel(writer, sheet_name='Temperature', index=False)

In [9]:
np.savetxt('Temperature.txt', Temperature_result)